[submodule "orca-chat-nest"]
	path = orca-chat-nest
	url = git@github.com:wowuliao11/orca-chat-nest.git
[submodule "orca-chat-quasar"]
	path = orca-chat-quasar
	url = git@github.com:wowuliao11/orca-chat-quasar.git
